
@{
    ViewBag.Title = "AboutUs";
}


<body>
    <div class="responsive-container-block outer-container">
        <div class="responsive-container-block inner-container">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
                <p class="text-blk heading-text">
                    Meet our HybridCloud team
                </p>
                <p class="text-blk sub-heading-text">

                </p>
            </div>
            <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                    <div class="card">
                        <img class="card-img" src="~/image/pic1.jpg">
                        <p class="text-blk name">
                            Name: 楊錦洋
                        </p>
                        <p class="text-blk position">
                            <strong>Student No: </strong>B10902105
                        </p>
                        <p class="text-blk position">
                            <strong>class: </strong> 四電子四乙
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                    <div class="card">
                        <img class="card-img" src="~/image/pic2.png">
                        <p class="text-blk name">
                            Name: 黃偉權
                        </p>
                        <p class="text-blk position">
                            <strong>Student No:</strong> B11002007
                        </p>
                        <p class="text-blk position">
                            <strong>class: </strong>四電子三
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                    <div class="card">
                        <img class="card-img" src="~/image/pic3.jpg">
                        <p class="text-blk name">
                            Name: 陳聖龍
                        </p>
                        <p class="text-blk position">
                            <strong>Student No:</strong>B11102007
                        </p>
                        <p class="text-blk position">
                            <strong>class: </strong>四電子二
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>